<left>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/awslabs/aws-cloudfront-extensions" data-icon="octicon-cloud-download" aria-label="Repo of awslabs/aws-cloudfront-extension on GitHub">Repo</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/awslabs/aws-cloudfront-extensions" data-icon="octicon-star" data-show-count="false" aria-label="Star awslabs/aws-cloudfront-extension on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/awslabs/aws-cloudfront-extensions/fork" data-icon="octicon-repo-forked" data-show-count="false" aria-label="Fork awslabs/aws-cloudfront-extension on GitHub">Fork</a>

    <p> <a href="https://aws.amazon.com/privacy/?nc1=f_pr">Privacy</a> | <a href="https://aws.amazon.com/terms/?nc1=f_pr">Site Terms</a> | © 2021, Amazon Web Services, Inc. or its affiliates. All rights reserved</p>
</left>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
